<div class="px-3 bg-success py-3 mt-auto position-fixed add-edit-button">
    <div>
        <div class="bg-success">
            <button type="submit" class="btn border-white text-white btn-block"><%= button_text %></button> 
        </div>
    </div>
</div>