<div class="d-flex my-3 w-100 flex-column">
    <%= link_to "New Category", new_category_path, class:"ml-auto btn btn-primary" %>
</div>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
            <div class="icon-wrapper">
                <img src="https://img.icons8.com/?size=512&id=61699&format=png" alt="money" />
            </div>
            <span>Test category</span>
        </li>
    </ul>
</div>
