<div class="mx-n3">
  <div class='d-flex flex-column align-items-center'>
    <%= render 'form', backpath: category_transactions_path(category_id: params[:category_id]), submit_path: category_transaction_path, method: :put %>
  </div>
</div>